.scroll-to-top-button {
  position: fixed;
  bottom: 300px;
  right: 20px;
  z-index: 1000;
  background-color: #358e8e;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.scrollToTop-text {
  display: none;
  position: absolute;
  top: calc(110%); /* Position it just below the container */
  left: 0%; /* Center horizontally */
  transform: translateX(-50%);
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* semi-transparent white background */
  border: 2px solid #358e8e; /* border color */
  border-radius: 5px;
  padding: 10px;
  width: 200px; /* Adjust width as needed */
  z-index: 1; /* Ensure it's above the container */
  text-align: left; /* Align text to the left */
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-to-top-button:hover .scrollToTop-text {
  background-color: #358e8e;
  display: block;
}

.scroll-to-top-button.visible {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 1024px) {
  .scroll-to-top-button {
    bottom: 60px;
  }
}
